.userContainer {
    background-color: blue;
}


table, th, td {
border: 1px solid;
}

tr:hover {background-color: lightgrey;}

.groupContainer {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    background-color: lightgrey;
    border: 2px solid black;
    margin-top: 15px;
}
.singleContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    color: black;
    margin: 10px;
    height: 300px;
    min-width: 200px;
}

.singleContainer:hover {
    cursor: pointer;
    box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.5);
}

.nameStyle {
    background-color: blue;
    color: white;
    text-align: center;
    width: 100%; 
    height: 25px;
    padding: 2%;
    margin:0;

}
.pstyle{
    margin: 4px;
    font-size: small;
    text-align: start;

}

.searchContainer {
    margin-left: 1%;
}

.searchInput {
    height: 25px;
    width: 25%
}