/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.HeaderStyle {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100vw;
  height: 5vw;
  margin: 0;
  padding-bottom: 1vw;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
}

/* .HeaderStyle {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100vw;
  height: 5vw;
  margin: 0;
  background-image: linear-gradient(to bottom right, black, blue);
} */

.HeaderTitle {
  color: white;
  padding-top: 1vw;
  margin: 0;
  font-size: 3vw;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {

  .HeaderStyle {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 50%;
    margin: 0;
    padding-bottom: 5%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
  }

  .HeaderTitle {
    color: white;
    padding-top: 1%;
    margin: 0;
    font-size: 190%;
    cursor: pointer;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1280px) {

  .HeaderStyle {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 50%;
    margin: 0;
    padding-bottom: 5%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
  }

  .HeaderTitle {
    color: white;
    padding-top: 1%;
    margin: 0;
    font-size: 290%;
    cursor: pointer;
  }

}